@model MovieMVC.Model.Appointment
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h4 class="text-white-50">Details of Appointment</h4><br />

<div class="p-lg-4 border rounded row text-white-50">
    <input hidden asp-for="@Model.Id" />
    <div class="col-6">

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.CustomerName"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.CustomerName" class="form-control" readonly />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.CustomerEMail"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.CustomerEMail" class="form-control" readonly />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.AppointmentDate"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.AppointmentDate" id="datepicker" type="text" disabled />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.AppointmentTime"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.AppointmentTime" class="timepicker" type="text" disabled />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.CustomerPhoneNumber"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.CustomerPhoneNumber" readonly />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="@Model.isConfirmed"></label>
            </div>
            <div class="col-8">
                <input asp-for="@Model.isConfirmed" class="form-control" disabled/>
            </div>
        </div>

    </div>
    <br />
    <div class="form-group">
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>



@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '3:00pm',
            startTime: '10:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        });

        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+3M", dateFormat: 'dd-mm-yy'
            });
        });

        $(document).ready(function () {
            var appointmentTime = document.getElementById('datepicker').value;
            var splitData = "";
            console.log(appointmentTime)
            if (appointmentTime.indexOf(" ") > 0) {
                splitData = appointmentTime.split(" ");
            }
            else {
                splitData = appointmentTime.split("T");

            }

            var time = splitData[1].substring(0, 5);
            if (time.slice(-1) == ":") {
                time = time.substring(0, time.length - 1);
            }
            console.log(splitData[0])
            console.log(time)
            if (time.substring(0, 2) > 12) {
                amPmTime = 'PM'

            } else {
                amPmTime = 'AM'
            }
            $('#datepicker').attr('value', splitData[0]);
            $('.timepicker').attr('value', time + ' ' + amPmTime);

        });

    </script>
}

