@model MovieMVC.Model.Appointment
@{
    ViewData["Title"] = "Book Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-4">

    </div>
    <div class="col-6">
        <h3 class="text-white-50">@ViewData["Title"]</h3>
    </div>
    <div class="col-2">
        <a asp-action="Index" asp-controller="Home" class="buttonOne">Back</a>
    </div>
</div>
<div class="row">

    <div class="col-3">

    </div>

    <div class="col-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <br />
            <div class="row">
                <div class="col-12">
                    <label asp-for="@Model.CustomerName" class="text-white-50"></label>
                </div>
                <div class="col-12" style="padding-bottom:15px">
                    <input asp-for="@Model.CustomerName" class="form-control" />
                    <span asp-validation-for="@Model.CustomerName" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="@Model.CustomerPhoneNumber" class="text-white-50">Phone Number : </label>
                </div>
                <div class="col-12" style="padding-bottom:15px">
                    <input asp-for="@Model.CustomerPhoneNumber" class="form-control" />
                    <span asp-validation-for="@Model.CustomerPhoneNumber" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="@Model.CustomerEMail" class="text-white-50">Email  : </label>
                </div>
                <div class="col-12" style="padding-bottom:15px">
                    <input asp-for="@Model.CustomerEMail" class="form-control" />
                    <span asp-validation-for="@Model.CustomerEMail" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="@Model.AppointmentDate" class="text-white-50">Appointment Date : </label>
                </div>
                <div class="col-12" style="padding-bottom:15px">
                    <input asp-for="@Model.AppointmentDate" value="" type="text" id="datepicker" class="form-control" autocomplete="off" />
                    <span asp-validation-for="@Model.AppointmentDate" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <label asp-for="@Model.AppointmentTime" class="text-white-50">Appointment Time : </label>
                </div>
                <div class="col-12" style="padding-bottom:15px">
                    <input asp-for="@Model.AppointmentTime" value="" type="text" class="timepicker form-control" autocomplete="off" />
                    <span asp-validation-for="@Model.AppointmentTime" class="text-danger"></span>
                    <br />
                </div>

                <div class="col-12">
                    <button type="submit" id="btnPlaceOrder" class="btn btn-success">Schedule Appointment</button>
                </div>
            </div>
        </form>

    </div>

    <div class="col-3">

    </div>

</div>
<br />
<br />

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '3:00pm',
            startTime: '10:00',
            dynamic: true,
            dropdown: true,
            scrollbar: true
        })
        $(function () {
            $("#datepicker").datepicker({
                minDate: +1, maxDate: "+1M"
            });
        })
    </script>
}